.tradeBtn {
    margin-left: -20%;
    margin-top: 6%;
    height: 60px;
    background-color: white;
}

.quoteData {
    margin-top: 6%;
    margin-left: -20%;
}

.quoteDetails {
    margin-top: 6%;
    margin-left: -35%;
}

.analystRating {
    margin-top: 6%;
    margin-left: -84%;
}

.information {
    background-color: white;
}

body {
    background-image: url("../../../pages/research/dynamic-style.png");
}

.newsBtn {
    padding-left: 16%
}

.companyName {
    color: white;
    font-weight: bold;
    font-size: 200%;
    padding-top: 6%;
    padding-bottom: 6%;
    line-height: 20%;
    background-image: linear-gradient(to top, rgb(72, 198, 248) , rgb(24, 56, 160));
    opacity: 0.9;
    filter: alpha(opacity=50); 
}