.gainers {
    color: green;
    font-weight: bold;
    font-size: 230%;
}

.losers {
    color: rgb(187, 3, 3);
    font-weight: bold;
    font-size: 230%;
}

.gainerTable {
    color: black;
    font-weight: bold;
}

.loserTable {
    color: white;
    font-weight: bold;
}

.tableContainer {
    margin-top: -32%;
    
}

.carouselCont {
    height: 400px;
}

.sectorTitle {
    color: black;
    font-weight: bold;
    font-size: 230%;
}


  
